body{
    font-family:'Work Sans' ;
}
header {
    height: 100vh;
    width: 100%;
    background-image:url('new-year-new-me-main/images/banner/banner1.png');
    background-size:cover;
    background-position: center;
    margin: 0px 0px;
}
.header-width{
/* color: var(--Dark-01, #151414);
text-align: right;
font-family: Work Sans;
font-size: 65px;
font-style: normal;
font-weight: 700; */
max-width: 500px;
width: 60%;
}
.header-title{
    color: var(--Dark-01, #151414);
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-descripsion{
color: var(--Dark-02, #444343);
text-align: right;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn-style{
    padding: 20px 25px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    
}
.header-width{
    text-align: right;
    align-items: right;
    padding: 220px 230px 150px 0px;
}
.hader-container{
    display: flex;
    justify-content: right;
    
}
      /* 2nd part */



.previous-years{
    display: flex;
    justify-content: space-around;
    align-items: center;
}      
.previous-years-titel{
    max-width: 280px;
    width: 70%;
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 450px 0px 0px;
    text-align: left;
}
.previous-years-descripsion{
    max-width: 415px;
    width: 90%;
    color: var(--Dark-02, #444343);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.previous-years-chakbox{
    list-style:none;
}
#icon{
    color: #16D887;
    
}
.previous-years-img{
    margin: 140px 0px 0px 280px;
}
.previous-years-data{
    text-align: left;
}